.main {
  margin: 0 auto;
  display: grid;
  width: 400px;
  height: 400px;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  font-size: 100px;
  text-align: center;
  padding: 7px;
}
